/*
	Theme: The Kyubiverse Thme
	Author: nullkal
	Description:
	きつねかわいい!!
	Responsive: yes
*/

@import (inline) "less/_normalize.css";

@media screen and (max-width: 640px) {

}

body {
	background: #f5ac32;
}
