@media (max-width: 767px) {
  #blog-title-inner {
    padding: 1rem;
  }
  #top-box {
    margin: 2rem 1rem;
  }
  #content {
    margin: 1rem;
  }
  #content-inner {
    display: block;
  }
  #main-inner {
    padding-left: 1rem;
  }
  .page-archive #main-inner {
    padding-left: 0;
  }
  #box2 {
    margin-left: 0;
  }
}
