#footer {
  background: #333333 linear-gradient(-45deg, #333333 25%, #3f3f3f 25%, #3f3f3f 50%, #333333 50%, #333333 75%, #3f3f3f 75%, #3f3f3f);
  background-size: 4px 4px;
  box-shadow: 0 0.5rem 0.5rem 0 #000000 inset;
  color: #ffffff;
  font-size: 0.8em;
  padding: 1rem;
  text-align: center;
  a {
    color: #aaeeff;
  }
}
