#globalheader-container {
  background: #333;
  color: #fff;
}

#blog-title,
.header-image-enable #blog-title,
.header-image-only #blog-title {
  background: #f5ac32;
  box-sizing: border-box;
  height: 200px;
  margin: 0;
  width: 100%;
}

#blog-title-inner {
  width: 100%;
  height: 100%;
}

#blog-title-content {
  width: 100%;
  height: 100%;
}

#title {
  margin: 0;
  width: 100%;
  height: 100%;
  a:link,
  a:visited {
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.3) inset;
  }
  a:hover {
    opacity: 1.0;
  }
  a:active {
    opacity: 1.0;
  }
}

#blog-description {
  display: none;
}

#overlay-container {
  position: relative;
  & * {
    pointer-events: none;
  }
}

#logo-image {
  z-index: 1;
  position: absolute;
  top: -150px;
  right: 3rem;
  height: 135px;
}

/*
 * パンくずリスト
 */
#top-box {
  background: #fffef3;
  border-radius: .1rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, .1);
  color: #930;
  font-size: 0.8rem;
  margin: 2rem 3rem;
  padding: .5rem;
}
