#globalheader-container {
    background: #333;
    color: #fff;
}

#blog-title,
.header-image-enable #blog-title,
.header-image-only #blog-title {
    align-content: flex-end;
    align-items: flex-end;
    background: #f5ac32;
    box-shadow: 0 .5rem .5rem 0 rgba(0, 0, 0, .3) inset;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    height: 200px;
    justify-content: flex-end;
    margin: 0 0 2rem 0;
    text-align: right;
    width: 100%;
}

#blog-title-inner {
    box-sizing: border-box;
    height: 100%;
    padding: 1rem 3rem;
}

#title {
    font-size: 2rem;
    font-weight: bolder;
    text-shadow: 0 0 4px rgba(0, 0, 0, .2);
}

#blog-description {
    font-size: 1.1rem;
    text-shadow: 0 1px 4px rgba(0, 0, 0, .2);
}

/*
 * パンくずリスト
 */
#top-box {
    background: #fffef3;
    border-radius: .1rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
    color: #930;
    font-size: .8rem;
    margin: 2rem 3rem;
    padding: .5rem;
}
